// https://chir.ag/projects/name-that-color/
// COLORS
$white: #ffffff;
$wild-sand: #f5f5f5;
$iron: #d4d5d5;
$selago: #ebf2fc;
$woodsmoke: #181a1c;
$shark: #313336;
$shuttle-gray: #616365;
$silver-sand: #bfc1c2;
$sunset-orange: #f64540;
$forest-green: #179a33;
$mustard: #feda4b;
$mariner: #2762db;
$seance: #7627a8;

$danger: $sunset-orange;
$success: $forest-green;
$error: $mustard;
