$container-xllarge: 1200px;
$container-large: 992px;
$container-medium: 768px;
$container-small: 576px;
$large-desktop-container-padding: 40px;
// padding left & right inside blocks
$content-padding: 20px;
// space between blocks
$wrapper-padding: 10px;
// border-radius for blocks
$block-border-radius: 4px;
